* {
  --main-background: #4b4a4a;
  --main-color: #0d0d0d;
  --temp-color: #e06c45;
  --sec-color: #fef9f8;
  --tertiary-color: #c8e0f4;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@font-face {
  font-family: footlight;
  src: url("../assets/font/footlight-mt-light.ttf");
  font-family: AbrilFatface;
  src: url("../assets/font/AbrilFatface-Regular.ttf");
  font-family: astra;
  src: url("../assets/font/astra.woff");
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--sec-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #918f8f;
  border-radius: 10px;
}

body {
  margin: 0px;
  background: var(--temp-color);
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: AbrilFatface;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-body-all {
  width: 100vw;
  height: 100%;
  background: var(--sec-color);
  margin-top: 60px;
}

.main-nav {
  background-color: var(--sec-color);
  color: var(--main-color);
  font-family: astra;
  height: calc(80px - 0.5em);
  position: fixed;
  width: 100%;
  border-top: 0.5em solid var(--temp-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 5;
  top: 0%;
  left: 0%;
}

.main-nav .main-nav-div {
  padding: 0.5em;
  width: calc(30% - 1em);
  height: calc(100% - 1em);
  position: absolute;
  top: 0%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-nav .main-nav-div > header {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-nav .main-nav-div > header > img {
  width: 100px;
  height: 100%;
}

.main-nav .main-nav-list {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-nav .main-nav-list > ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-nav .main-nav-list > ul > li {
  list-style: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.main-nav .main-nav-list > ul > li a {
  text-decoration: none;
  color: var(--main-color);
}

.main-nav .main-nav-list > ul > li a:hover {
  color: #5e5c5c;
}

.main-nav .main-nav-list .main-dropdown {
  display: none;
}

@media (max-width: 700px) {
  .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.6 ease-in-out;
    transition: all 0.6 ease-in-out;
    height: calc(60px - 0.5em);
  }
  .main-nav .main-nav-div {
    width: calc(100% - 1em);
    height: calc(100% - 1em);
    max-height: 25px;
    background: var(--sec-color);
    z-index: 5;
  }
  .main-nav .main-nav-div > header {
    width: calc(100% - 1em);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 1em;
  }
  .main-nav .main-nav-div .main-dropdown {
    width: 30%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-nav .main-nav-div .main-dropdown img {
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
  .main-nav .main-nav-list {
    display: none;
  }
  .main-nav .main-nav-list-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
    z-index: 0;
  }
  .main-nav .main-nav-list-active > ul {
    margin: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding: 0px;
  }
  .main-nav .main-nav-list-active > ul > li {
    width: 100%;
    height: 50px;
  }
  .main-nav .main-nav-list-active > ul > li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5em;
    width: calc(100% - 1em);
    height: calc(100% - 1em);
    display: flex;
    font-size: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .main-nav .main-nav-list-active > ul > li:nth-child(4) {
    margin-bottom: 0px;
  }
  .main-nav .main-nav-list-active > ul > li > a:hover {
    background: var(--temp-color);
    color: var(--sec-color);
  }
  .main-nav-active {
    -webkit-animation: animate 0.2s ease-in-out forwards;
            animation: animate 0.2s ease-in-out forwards;
    padding-top: 50px;
  }
}

@-webkit-keyframes animate {
  0% {
    height: calc(50px - 0.5em);
  }
  100% {
    height: calc(180px - 0.5em);
  }
}

@keyframes animate {
  0% {
    height: calc(50px - 0.5em);
  }
  100% {
    height: calc(180px - 0.5em);
  }
}

.main-body {
  background: var(--sec-color);
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-body .main-body-div {
  width: 100%;
  background: var(--main-background);
  height: 100vh;
  background-image: url("../assets/img/careflow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-blend-mode: soft-light;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--sec-color);
  position: relative;
}

.main-body .main-body-div-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 80%;
}

.main-body .main-body-div-start > div {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-body .main-body-div-start .main-body-div-start-text {
  display: inline;
  width: 100%;
  max-height: 100%;
}

.main-body .main-body-div-start p {
  width: calc(100% - 1em);
  display: block;
  font-size: 1.5rem;
  text-align: center;
}

.main-body .main-body-div-start p:nth-child(1) {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: astra;
}

.main-body .main-body-div-start-btn {
  position: absolute;
  bottom: 10%;
  left: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10%;
}

.main-body .main-body-div-start-btn button {
  width: 250px;
  padding: 0.5em;
  background: var(--temp-color);
  color: var(--sec-color);
  border: none;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-size: 1.2rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-body .main-body-div-start-btn button:hover {
  background: #ce623e;
}

.main-body .main-body-heading {
  width: calc(100% - 2em);
  height: 50vh;
  background: var(--sec-color);
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-body .main-body-heading > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.main-body .main-body-heading > div > p {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}

.main-body .main-body-heading > div > h2 {
  width: 80%;
  text-align: center;
  font-family: astra;
  color: var(--temp-color);
  font-size: 2rem;
}

.main-body .main-body-how-to {
  width: 100%;
  height: calc(80vh - 4em);
  padding: 10vh 0em;
  background: var(--temp-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-body .main-body-how-to > div {
  width: calc(100% - 2em);
  padding: 1em;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-body .main-body-how-to > div .main-body-how-to-info {
  width: calc(20% - 1em);
  padding: 0.5em;
}

.main-body .main-body-how-to > div .main-body-how-to-info > img {
  width: 50%;
  max-width: 90px;
}

.main-body .main-body-how-to > div .main-body-how-to-text {
  width: calc(60% - 1em);
  padding: 0.5em;
}

.main-body .main-body-how-to > div .main-body-how-to-text > p {
  color: var(--sec-color);
  font-family: footlight;
  font-size: 1.5rem;
}

.main-body .main-body-more-advice {
  width: 100%;
}

.main-body .main-body-more-advice > div {
  width: calc(100% - 1em);
  padding: 20vh 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-body .main-body-more-advice > div .advice-image-holder {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-body .main-body-more-advice > div .advice-image-holder > img {
  width: 100%;
  max-width: 500px;
}

.main-body .main-body-more-advice > div .advice-text {
  width: calc(50% - 2em);
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-body .main-body-more-advice > div .advice-text > h2 {
  width: 100%;
  color: var(--temp-color);
  font-size: 2rem;
}

.main-body .main-body-more-advice > div .advice-text > p {
  width: 80%;
  font-size: 1.5rem;
}

.main-body .main-body-footer {
  width: 100%;
  height: 200px;
  background: var(--main-background);
  color: var(--sec-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main-body .main-body-footer .main-body-footer-div {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-body .main-body-footer .main-body-footer-div > ul {
  width: calc(100% - 1em);
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-body .main-body-footer .main-body-footer-div > ul > a {
  width: calc(50px - 1em);
  padding: .5em;
  text-decoration: none;
  color: var(--sec-color);
  margin: 0px;
  font-size: 1.3rem;
  font-family: 'Times New Roman', Times, serif;
}

.main-body .main-body-footer .main-body-footer-div > ul > a > li {
  width: 100%;
}

.main-body .main-body-footer .main-body-footer-div > ul > a:hover {
  text-decoration: underline;
}

.main-body .main-body-footer .main-body-footer-div-logo {
  width: 100%;
  height: 50px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0%;
  bottom: 0px;
}

.main-body .main-body-footer .main-body-footer-div-logo > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 1rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--sec-color);
}

.main-body .main-body-footer .main-body-footer-div-logo > p > img {
  width: calc(70px - 1em);
  height: 80%;
  padding: 0em .5em;
}

.main-body .main-body-footer .main-body-footer-up {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 30px;
  right: 30px;
  background: var(--sec-color);
}

.main-body .main-body-footer .main-body-footer-up > p {
  font-weight: 800;
  font-size: 3rem;
}

.main-body .main-body-footer .main-body-footer-contacts {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-body .main-body-footer .main-body-footer-contacts > div {
  padding: .2em;
  width: 100px;
}

.main-body .main-body-footer .main-body-footer-contacts > div > a {
  width: 100%;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--sec-color);
}

.main-body .main-body-footer .main-body-footer-contacts > div > a:hover {
  border-bottom: 1px dashed white;
}

@media (max-width: 700px) {
  html {
    font-size: 12px;
  }
  .main-body {
    width: 100%;
    font-size: 20px;
  }
  .main-body .main-body-div-start {
    width: calc(100% - 1em);
    padding: 0.5em;
    height: 60%;
  }
  .main-body .main-body-heading > div > p {
    width: calc(100% - 1em);
    padding: 0.5em;
  }
  .main-body .main-body-more-advice {
    width: 100%;
  }
  .main-body .main-body-more-advice > div {
    width: calc(100% - 1em);
    padding: 10vh 0.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-body .main-body-more-advice > div .advice-image-holder {
    width: 100%;
  }
  .main-body .main-body-more-advice > div .advice-text {
    width: calc(100% - 2em);
    padding: 1em;
  }
  .main-body .main-body-more-advice > div .advice-text > h2 {
    width: 100%;
    color: var(--temp-color);
  }
  .main-body .main-body-more-advice > div .advice-text > p {
    width: 100%;
  }
  .main-body .main-body-how-to {
    height: calc(60vh - 4em);
    padding: 5vh 0em;
  }
  .main-body .main-body-how-to > div {
    width: calc(100% - 1em);
    padding: .5em;
    height: 15vh;
  }
  .main-body .main-body-how-to > div .main-body-how-to-info {
    width: calc(20% - 1em);
    padding: 0.5em;
  }
  .main-body .main-body-how-to > div .main-body-how-to-info > img {
    width: 55%;
    max-width: 100px;
  }
  .main-body .main-body-how-to > div .main-body-how-to-text {
    width: calc(60% - 1em);
    padding: 0.5em;
  }
  .main-body .main-body-how-to > div .main-body-how-to-text > p {
    color: var(--sec-color);
    font-family: footlight;
  }
  .main-body .main-body-footer {
    padding-bottom: 50px;
  }
  .main-body .main-body-footer .main-body-footer-div {
    width: 50%;
    height: 100%;
    position: relative;
  }
  .main-body .main-body-footer .main-body-footer-div > ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-body .main-body-footer .main-body-footer-div > ul > a {
    width: calc(100% - 1em);
  }
  .main-body .main-body-footer .main-body-footer-div .main-body-footer-contacts {
    width: 50%;
    height: 100%;
  }
  .main-body .main-body-footer .main-body-footer-div .main-body-footer-contacts > div {
    padding: .2em;
    width: calc(100% - .4em);
  }
  .main-body .main-body-footer .main-body-footer-div .main-body-footer-contacts > div > a {
    font-size: 1rem;
  }
  .main-body .main-body-footer .main-body-footer-div .main-body-footer-contacts > div > a:hover {
    border-bottom: 1px dashed white;
  }
  .main-body .main-body-all {
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .main-body .main-body-all-active {
    margin-top: 450px;
  }
}
/*# sourceMappingURL=index.css.map */